---
layout: default
---

<div class="post-container">


    <h2 class="post-title">Category: {{ page.categories }}</h2>

    <hr>

    <div class="post-preview">
        <table>
            {% for post in site.categories[page.categories] %}
            <tr>

                <td class="post-title">
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                        {{ post.title }}
                    </a>
                </td>

                <td class="post-time">
                    <p>{{ post.date | date: "%b %-d, %Y" }}</p>
                </td>
            </tr>

            {% endfor %}
        </table>
    </div>


</div>
